<!DOCTYPE html>
<html>
  <head>
    <title>Tblog</title>

    <style type="text/css" href="./style.css"></style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper">
      <a href="/trablogs">Tblog</a>
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
            <li><a class="post" href="/trablogs/new">投稿する</a></li>
          </ul>
        </div>
      <% else %>
        <div class="grid-6">
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><%= link_to "ログイン", new_user_session_path, class: 'post' %></li>
            <li><%= link_to "新規登録", new_user_registration_path, class: 'post' %></li>
          </ul>
        </div>
      <% end %>
    </div>
  </nav>

  <script type="text/javascript" src="./app.js"></script>
  <%= yield %>

  </body>
</html>
